body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.movie-thumbnail {
  max-width: 100%;
  height: auto;
}

.movie-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

